// -----------------------------------------------------------------------------
// This file contains all styles related to the box component.
// -----------------------------------------------------------------------------

.box {
	margin: 0 1rem 1.5rem;
	border: 1px solid var(--primary-40);
	padding: 1rem 2rem;
	h3 {
		margin-bottom: 2.666em;
	}
	p, li {
		font-size: 16px !important;
	}
}


.grid-3 .box {
	flex-basis: 100%;
	max-width: 100%;
	@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md), (min-width: $breakpoint-lg) {
		flex-basis: calc(100% / 3 - 2rem);
		max-width: calc(100% / 3 - 2rem);
	}
}