// -----------------------------------------------------------------------------
// This file contains all styles related to the search component.
// -----------------------------------------------------------------------------

.search {
	display: none;
	margin-top: 1rem;
	background: #fff;
	border: 1px solid var(--primary-40);
	width: calc(27% - 1rem);
	max-width: 256px;
	position: relative;
	top: 1rem;
	margin-left: 1rem;
	@media (min-width: $breakpoint-md) {
 		display: flex;
 		justify-content: space-between;
		align-items: center;
	}
	input[type="search"] {
		background: none;
		border: none;
		padding: 0.5rem 0.75rem;
		height: 40px;
		width: calc(100% - 40px);
	}
	input[type="submit"] {
		display: flex;
		padding: 0;
		background: center / 100% no-repeat url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Ccircle cx='18' cy='18' r='7' stroke='%231D1D39' stroke-width='2'/%3E%3Cpath stroke='%231D1D39' stroke-width='2' d='M22 22l7 7'/%3E%3C/svg%3E");
		border: none;
		min-width: 40px;
		height: 40px;
		opacity: 0.6;
		cursor: pointer;
	}
	&:hover input[type="submit"],
	&:focus input[type="submit"],
	&:active input[type="submit"],
	input[type="submit"]:focus,
	input[type="submit"]:active {
		opacity: 1;
	}
}

